.parent {
    height: 2000px;
    background-color: red;
    width: 50%;

}

.sticky{
    background-color: white;
    width: 100px;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}